@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

:root {
  --branco-principal: #ffffff;
  --cinza-secundario: #c0c0c0;
  --botao-azul: #167bf7;
  --cor-de-fundo: #00030c;

  --fonte-principal: "Inter", sans-serif;
}
* {
  padding: 0;
  margin: 0;
}

body {
  color: var(--branco-principal);
  background-color: var(--cor-de-fundo);
  font-family: var(--fonte-principal);
  font-size: 1rem;
  font-weight: 400;
}
.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 50% 50%;
}
.principal {
  background-image: url(/img/Background.png);
  background-repeat: no-repeat;
  background-size: contain;
}
.container__title {
  font-weight: 700;
  font-size: 1.75rem;
}
.container__button {
  padding: 1em;
  border-radius: 5px;
  color: var(--branco-principal);
  background-color: var(--botao-azul);
  text-align: center;
  text-decoration: none;
  display: block;
}
.button_secundario {
  background-color: transparent;
  border: 2px solid var(--branco-principal);
}
.container__aviso {
  font-size: 0.75rem;
  color: var(--cinza-secundario);
}
